table.movie-table th{
	text-transform: capitalize;
	cursor: pointer;
}
table.movie-table th:hover{
	text-decoration: underline;
}
table.movie-table td:last-child{
	max-width:200px;
	min-width:200px;
}