table.movie-table th{
	text-transform: capitalize;
	cursor: pointer;
	position: relative;
	padding-right: 23px;
}
table.movie-table th:hover{
	background-color: #ccc;
}
table.movie-table th.sort-ascending:after{
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	right: 6px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent transparent #888 transparent;
}
table.movie-table th.sort-descending:after{
	content: '';
	display: block;
	position: absolute;
	top: 14px;
	right: 6px;
	border-style: solid;
	border-width: 5px;
	border-color: #888 transparent transparent transparent;
}
table.movie-table tr.normal-row td:last-child{
	max-width:200px;
	min-width:200px;
}
table.movie-table .dark-row{
	background-color: #f2f2f2;
}
table.movie-table .opened-row td{
	padding: 3px 16px 8px 16px;
	font-size: 12px;
}
table.movie-table .opened-row span{
	margin-right: 25px;
}
table.movie-table td{
	border: 0;
}