table.movie-table th{
	text-transform: capitalize;
	cursor: pointer;
	position: relative;
	padding-right: 23px;
}
table.movie-table th:hover{
	background-color: #ccc;
}
table.movie-table th.sort-ascending:after{
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	right: 6px;
	border-style: solid;
	border-width: 5px;
	border-color: transparent transparent #888 transparent;
}
table.movie-table th.sort-descending:after{
	content: '';
	display: block;
	position: absolute;
	top: 14px;
	right: 6px;
	border-style: solid;
	border-width: 5px;
	border-color: #888 transparent transparent transparent;
}
table.movie-table td:last-child{
	max-width:200px;
	min-width:200px;
}